# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/*/dist
/dist
**/*/build
/build
**/*/tmp
/tmp
**/*/out-tsc
/out-tsc

# dependencies
**/*/node_modules
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vs
/iac/.vs

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/cSpell.json

# misc
**/*/.sass-cache
/.sass-cache
**/*/connect.lock
/connect.lock
**/*/coverage
/coverage
**/*/libpeerconnection.log
/libpeerconnection.log
yarn-error.log
*.iml
npm-debug.log
.soliumignore
.soliumrc.json
testem.log
**/*/typings
/typings

# e2e
**/*/e2e/*.js
/e2e/*.js
**/*/e2e/*.map
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
lerna-debug.log

# tmp baseline
**/*.spec.tmp.md
**/*.spec.tmp.base
**/*.spec.base.tmp.md
